/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: .5vh;
}

/* Your code starts here! */


/* General Styles */

h1 {
    font-size: 70px;
}

/* Page Styles */
.navigation {
    width: 100%;
    
    display: flex;
    align-items: center;

    position:fixed;
    
    background-color:white;
    padding: 15px 0 15px 10vw;


    /* need this so that navbar isnt transparent */
    z-index: 999999;
    
}

.navigation a {
    text-decoration: none;
    color:black;
    background: #FFFFFF;
    margin-left: 2.8vw;
    margin-bottom: 10px;

    font-size: 1.3em;
}

@media only screen and (max-width: 900px) {
    .navigation a {
        font-size:.9em;
        margin-left: 2vw;
    }
}



.header {
    background-color: #121212;
    color: white;
    padding: 110px 0 0 0;
    height: 435px;
    border-bottom: 10px solid rgb(216, 170, 53);

    /*
    display:flex;
    justify-content: center;
    */

}

.header__center {
    width:41%;
    height:100%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-content: center;

}

.header__center h1 {
    padding-top:30px;
}

@media screen and (max-width: 1099px) {
    .header__center h1 {
        font-size: 50px;
    }
  }

/* Specifics */

.header__center--side {
    position: relative;
    left:31vw;
}

.header__center--side h6 {
    font-size: 25px;
    font-weight: bolder;
}

.header__center--side h4 {
    color:rgb(216, 170, 53);
    
    text-decoration: underline;
    text-decoration-color: white;

    font-size: 40px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}


/*  ----------------------- below container -------------------------- */

.container {
    display:flex;
    width: 75%;
    margin: 0 auto;
    min-height: 800px;
    
}

.wrapper {
    width:100%;
    height:100%;
    background: #EEEEEE;
}



/* main */
.main {
    background: #FFFFFF;
    width:70%;
    min-height:100%;
    border: 1px solid black;
}

.main__wrapper {
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.main img {
    max-width: 100%;
}

.main h2 {
    font-size: 2.5rem;
}

.main__wrapper p {
    margin: 2vh 0;
    font-size: 1.15rem;
}

/* argggg wtf */
.main__wrapper p:first-child {
    margin-top: 50vh;
}
    

/* aside */
.aside {
    background: #F5F6F7;
    
    width:30%;
    min-height:100%;
}

.aside img {
    max-width: 100%;
}